.footer {
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer__location {
    display: flex;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer__soclinks {
    display: flex;
    align-items: center;
    gap: 5px;
}