.footer {
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer__location {
  display: flex;
  align-items: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.footer__soclinks {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer__socitem > a {
  display: flex;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #cddaff;
  transition: background-color, fill, 250ms cubic-bezier(0.4, 0, 0.2, 1), fill,
    250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__socitem > a:hover {
  background-color: #fff;
  transform: scale(1.1);
}

.footer__socitem:nth-child(1) > a:hover {
  fill: #051218;
}

.footer__socitem:nth-child(2) > a:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  fill: #fff;
}

.footer__socitem:nth-child(3) > a:hover {
  fill: #2196f3;
}

.footer__socitem:nth-child(4) > a:hover {
  fill: #0077b5;
}

.footer__socitem:nth-child(5) > a:hover {
  fill: #118238;
}
.footer__socitem:nth-child(6) > a:hover {
  fill: #bb241c;
}
