.header {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
    position: relative;
}

.header__nav {
    display: flex;
    align-items: center;
}

.menu__container {
    display: flex;
}

.site-nav {
    display: flex;
    gap: 5px;
    @media screen and (max-width: 767px) {
    gap: 20px;
    flex-direction: column;
    }
}

.header__link {
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
}

// TABLET

@media screen and (min-width: 768px) {
    .site-nav__item:not(:last-child) .header__link::after {
        content: '|';
        color: #a1a1a1;
        margin-left: 5px;
      }

    .header__link {
        font-size: 16px;
    }
}


  