.section-stack {
    border-top: 3px solid #898a9e;
    border-radius: 2%;
  }
  
  .section-stack__item::before {
    content: '●';
    margin-right: 5px;
  }
  
  .section-stack__list {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0px 0px 7px 3px;
    background: linear-gradient(180deg, black, transparent);
  }
  
  .section-stack__item {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: var(--color-text);
    text-transform: uppercase;
    gap: 5px;
  }
  
  .section-stack__title {
   display: flex;
   justify-content: center;
   text-transform: uppercase;
   margin-bottom: 15px;
  }
  
  .section-stack__icon {
    fill: #f5deb3;
  }

// TABLET

@media screen and (min-width: 768px) {
  .section-stack {
    border: none;
  }
}

// DESKTOP

@media screen and (min-width: 1200px) {
  .section-stack__item {
    font-size: 30px;
  }
}

// LIGHT THEME

body.light .section-stack__list {
  background: linear-gradient(180deg, #bfbfbf, #c9c9c9);
}

body.light .section-stack__item {
  color: #272727;
}