.section-lang__title {
    display: flex;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .section-lang__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0px 0px 3px 1px;
    background: linear-gradient(90deg, #1c1c1c, transparent);

  }
  
  .section-lang__item {
    font-size: 20px;
    color: #fff;
  }
  
  .section-lang__item::before {
    content: '•';
    margin-right: 5px;
  }