.section-exp {
  border-top: 3px solid #898a9e;
  border-bottom: 3px solid #898a9e;
  border-radius: 2%;
}

.section-exp__title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section-exp__name {
  font-size: 15px;
  font-weight: bold;
  color: var(--color-text);
  margin-bottom: 10px;
}

.section-exp__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-exp__item {
  color: var(--color-text);
  font-size: 15px;
  display: flex;
  align-items: center;
}

.section-exp__item::before {
  content: '●';
  margin-right: 5px;
}

.section-exp__container {
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0px 0px 3px 1px;
  background: linear-gradient(200deg, #191919, transparent);
}

// TABLET

@media screen and (min-width: 768px) {
  .section-exp {
    margin: auto;
    border: none;
  }
}

// DESKTOP

@media screen and (min-width: 1200px) {
  .section-exp__name {
    font-size: 30px;
  }

  .section-exp__item {
    font-size: 20px;
  }
}