.section-exp {
    border-top: 3px solid #898a9e;
    border-bottom: 3px solid #898a9e;
    border-radius: 2%;
  }
  
  .section-exp__title {
    display: flex;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .section-exp__name {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .section-exp__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .section-exp__item {
    color: #fff;
    font-size: 15px;
  }