.section-proj {
    border-top: 3px solid #898a9e;
    border-bottom: 3px solid #898a9e;
    border-radius: 2%;
  }
  
  .section-proj__title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  
  .section-proj__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0px 0px 3px 0px;
    background: linear-gradient(91deg, black, #262626);

  }
  
  .section-proj__descr {
    font-size: 16px;
    color: #fff;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0px 0px 3px 0px;
    background: linear-gradient(180deg, black, transparent);

  }
  
  .section-proj__link {
    color: #b4b1ff;
    transition: color 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    overflow: hidden;
    opacity: 1;
    position: relative;
  
  &:hover {
    color:#ee82ee;
  }
  
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #ee82ee;
    opacity: 0;
    transition: width 0.25s ease, transform 0.25s ease;
    transform: translateX(-50%);
  }
  
  &:hover::after {
    width: 100%;
    opacity: 1;
    transform: translateX(-50%);
  }
  
  }

  // TABLET

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    .section-proj {
      border: none;
    }

    .section-proj__list {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5px;
      justify-content: center;
    }

    .section-proj__descr {
      width: calc((100% - 25px)/2);
      height: calc((100% - 25px)/3);
    }
  }