.section-summary__title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section-summary__descr {
  color: var(--color-text);
  font-size: 18px;
  line-height: 1.17;
  overflow: scroll;
  opacity: 1;
  transition: max-height 0.7s ease;
  max-height: 150px;
  padding: 5px;
  // background: linear-gradient(180deg, black, #363b4b);
}

// .section-summary__descr:hover {
//   box-shadow: 0px 0px 3px 1px;
//   transform: scale(1.05);
// }

.read-more-button {
  margin-top: 15px;
  cursor: pointer;
  background: none;
  border: none;
  color: #0077b5;
  width: max-content;
  font-size: 20px;
  padding: 0;
  transition: color 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

  &:hover {
    color: #82c5fc;
  }
}

// .section-summary__container {
//   box-shadow: 0px 0px 7px 3px;
//   border-radius: 8px;
// }

// DESKTOP

@media screen and (min-width: 1200px) {
  .section-summary__descr {
    font-size: 25px;
    max-height: 300px;
  }

  .read-more-button {
    font-size: 25px;
  }
}

// LIGHT THEME

body.light .section-summary__descr {
  // background: linear-gradient(180deg, #bfbfbf, #c9c9c9);
  color: var(--light-theme-texts);
}
