:root {
    --title-color: #fffff5;
    --subtitle-color: #ededed;
    --light-theme-text: #272727;
    --color-text: #F5F5F5;
    $roboto-font: "Roboto", sans-serif;
    $raleway-font: "Raleway", sans-serif;
    }